
/* BORDER COLOR */
.border-color {
  border-color: #222;
  border-width: 0;
  border-style: solid;
}
/* MAIN CONTENT BACKGROUND COLOR */
.main {
  width: 100%;
  background-color: #0f0f0f;
  padding-left: 50px;
}

/* MAIN COLOR */
.bg-primary {
  background-color: #181818;
}
/* SECONDARY COLOR */
.bg-secondary {
  background-color: #333;

}





.container {
  width: 100%;


}

.w-100 {
  width: 100%;
}

.rise {
  transform: rotateZ(75deg);
}

.seperator {
  margin-left: 10px;
  margin-right: 10px;
}

.position-fixed {
  position: fixed;

}

.round-sm {
  border-radius: 10px;

}

.sidebar {
  white-space: nowrap;
  width: 350px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.sidebar>a>h3,
.sidebar>a>h1,
#dropdown>a>h3 {
  padding: 10px;
  margin: 0px;
}

.sidebar>a>h3:hover,
.sidebar>a>h1:hover,
#dropdown>a>h3:hover {
  background-color: #152031;
}
.name{
  color: #5bd5fe;

}


#dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.btn-submit{
  padding: 10px 14px 10px 14px;
  border-radius: 100px;
  background-color: #5bd5fe;
  color: #1a2e49;
  border: 0px solid transparent;
  font-size: 16px;
}
.card {
  border-radius: 10px;
  width: 290px;
}
.rounded{
  border-radius: 10px;
}

body {
  font-family: Arial;
  padding: 0%;
  margin: 0%;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-large {
  padding: 15px;
}

.border-none {
  border: 0;
}


.border-top {
  border-top-width: 5px;
}

.border-bottom {
  border-bottom-width: 5px;
}

.border-right {
  border-right-width: 5px;
}

.border-left {
  border-left-width: 5px;
}

.bg-green {
  color: #20695f;
  background-color: #7accc1;

}

.bg-red {
  background-color: #e29797;
  color: #692020;
}

.bg-transparent {
  background-color: transparent;
}

.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;

}

.flex-gap {
  gap: 10px;
}

.btn {
  padding: 5px 10px 5px 10px;

}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.col {
  flex-basis: 50%;
  max-width: 50%;
}

.view-height-100 {
  height: 100vh;
}

.job-applied {
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 10px;

}

.job-view {
  background-color: #204369;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
}
table,  td {
  border: 0px solid black;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
 border-bottom: 1px solid gray;
}